@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "rsuite/dist/rsuite.css";

/* PALETA DE COLORES */
:root {
    --primary-color: #1A2A2F;
    --secondary-color: #00507C;
    --tertiary-color: #3DC2DD;
    --gray-color: #475467;
    --bg-modal: #D9D9D9D6;
    --white-color: #fefefe;
    --celestial-blue: #4888C81F
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border-radius: 8px;
    border: 2px solid var(--white-color);
}

body {
    font-family: "Roboto", sans-serif;
}

/* ÍCONOS */
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: 600 !important;
}

/* MENÚ VERSIÓN DESKTOP/MOBILE */

header, .navbar-mobile, .patient-name {
    background-color: var(--secondary-color);
}

.patient-name {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.patient-name.show {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

aside {
    min-height: 100vh;
}

.offcanvas.offcanvas-end {
    left: -1px;
    width: 300px;
}

.offcanvas.offcanvas-end {
    transform: translateX(0%);
}

.offcanvas-backdrop {
    background-color: var(--bg-modal);
}

.is-active > img {
    color: #3DC2DD !important;
  }

  .navbar-toggler:focus {
    box-shadow: none;
}

/* PATIENTS */
.bg-color {
    background-color: var(--tertiary-color) !important;
}

.table-patient>:not(caption)>*>* {
    background-color: #EDF2FB;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #ABC4FF;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #D7E3FC;
}

.table-striped>tbody>tr>td:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.table-striped>tbody>tr>td:nth-child(11), .calculations-table>tbody>tr>td:nth-child(6) {
    border-radius:  0 5px 5px 0;
}

.table-striped>tbody>tr>.patient-id {
    border-radius:  0 !important;
}

.bi-pencil-square, .bi-trash {
    cursor: pointer;
}

/* CALCULATIONS */
.calculations-table {
    border-spacing: 10px; /* Adjust spacing value as needed */
  }
  
.calculations-table>:not(caption) {
    background-color: var(--white-color) !important;
}
.calculations-table >tbody>tr:nth-of-type(odd)>* {
    background-color: #ADD7EE;
}

.calculations-table >tbody>tr:nth-of-type(even)>* {
    background-color: #82BECA;
}

.card {
    background-color: #E9F1F8;
    box-shadow: 4px 4px 4px 0px #00507C82;
    width: 280px;
    padding: 10px;
}

.card-surgical-data {
    height: 180px
}

/* FOLLOW UP */
.react-form-wizard .wizard-tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.card-form .card-header {
    background-color: var(--secondary-color);
    border-radius: 24px 24px 0 0;
}

.card-form {
    background-color: var(--celestial-blue);
    border-radius: 24px;
    width: 50%;
}

/* STEP REACT SUITE */
.rs-scroll-view.rs-scroll-view-custom-scrollbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs-btn-default {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-radius: .5rem !important;
}

.rs-btn-disabled {
    background-color: #869ba6 !important;
    color: var(--white-color) !important;
}

.rs-btn-group {
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
}

/* SPLIDE */
.is-active {
        background-color: 2px solid #495AFF !important;
        color: var(--white-color);
}

/* FORMS (FOLLOW UP) */
span.input-group-text  {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: white;
    border-left-color: transparent;
}

input[type="text"], input[type="number"] {
    border-right-color: transparent;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.input-date {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* input:focus {
    border-color: transparent !important;
} */

/* FORM LOGIN */
.bg-login {
    background-color: var(--secondary-color);
    height: 100vh;
}

.bg-form {
    background-color: var(--primary-color);
    border-radius: 0 50px 50px 0;
}

.bg-fondo {
    background-image: url("/bg-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50px 0 0 50px;
    filter: brightness(0.5);
}

.form-login {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.36));
    height: 55vh;
}

.button {
    background-color: var(--tertiary-color);
}

.form-floating > label {
    color: var(--secondary-color) !important;
}

.eye-icon {
    top: 6px;
    right: 5px;
    margin: 10px;
    cursor: pointer;
}

.btn-login {
   width: 250px;
   font-weight: 500;
}

.form-control {
    color: var(--color-secondary);
}

.form-control:focus {
    box-shadow: none !important;
}

.form-check .form-check-input {
    margin-left: 1em;
}

/* MODAL */
.modal-header {
    border-bottom: 0;
}

.modal.fade.show {
    background-color: var(--bg-modal);
}

/* PANEL */
/* FIXED MENU */
.menu-list:hover {
    cursor: pointer;
}

.is-active {
    border-bottom: 2px solid var(--tertiary-color);

}

/* FORM ADD PATIENT */
.form-check .form-check-input {
    float: right;
    margin-left: 0.5em;
}

/* STATUS INDICATOR */
.status-indicator {
    width: 20px;
    height: 20px;
  }

  .complete-status {
    background-color: #05FF00;
  }

  .missing-data {
    background-color: #FF0000;
  }

  .half-completed {
    background-color: #EEE63A;
  }

  .no-data-loading {
    background-color: #5D5C5C;
  }

  .blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes blink {  
    0% { 
        opacity: 1.0; 
    }
     50% { 
        opacity: 0.0; 
    }
    100% { 
        opacity: 1.0; 
    }
  }

/* MEDIA QUERIES */
@media (width <= 990px) {
    .card {
        width: 300px;
    }

    .card-form {
        width: 80%;
    }
}
@media (width <= 768px) {
    .bg-form {
        border-radius: 50px;
    }

    .card-form {
        width: 90%;
    }
}