/* PALETA DE COLORES */
:root {
    --primary-color: #1A2A2F;
    --secondary-color: #00507C;
    --tertiary-color: #3DC2DD;
    --gray-color: #475467;
    --bg-modal: #D9D9D9D6;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border-radius: 8px;
    border: 2px solid #ffffff;
}

/* FORM LOGIN */
.bg-login {
    background-color: var(--secondary-color);
    height: 100vh;
}

.bg-form {
    background-color: var(--primary-color);
    border-radius: 0 50px 50px 0;
}

.bg-fondo {
    background-image: url("/bg-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px 0 0 50px;
}

.form-login {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.36));
}

label {
    color: var(--secondary-color) !important;
}

.eye-icon {
    top: 6px;
    right: 5px;
    margin: 10px;
    cursor: pointer;
}

.btn-login {
   width: 250px;
   font-weight: 500;
}

.form-control {
    color: var(--color-secondary);
}

.form-control:focus {
    box-shadow: none !important;
}

/* MODAL */
.modal-header {
    border-bottom: 0;
}

.modal.fade.show {
    background-color: var(--bg-modal);
}

/* PANEL */
/* FIXED MENU */
.menu-list:hover {
    cursor: pointer;
}

.is-active {
    border-bottom: 2px solid var(--secondary-color);
}

/* STATUS INDICATOR */
.status-indicator {
    width: 20px;
    height: 20px;
  }

  .blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes blink {  
    0% { 
        opacity: 1.0; 
    }
     50% { 
        opacity: 0.0; 
    }
    100% { 
        opacity: 1.0; 
    }
  }

/* MEDIA QUERIES */
@media (width <= 768px) {
    .bg-form {
        border-radius: 50px;
    }
}